*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*
  background-image: url(./bg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  */
  /*brackground: image repeat position/size */
  background: url(./bg-mobile.jpg) no-repeat top center/cover;
}

body *{
  font-family: "Inter", sans-serif;
  color: #fff
  }

#container {
  width: 360px;
  margin: 56px auto 0px;
}

#profile {
  text-align: center;
  padding: 24px;
  margin-top: 8px;

}

#profile img {
  width: 112px;
}
#profile {
  font-weight: 500;
  line-height: 24px;
}